# Flugpreis Vorhersage - Kaufen oder Warten?
## Projektarbeit Data Mining
___
### Wintersemester 2021/22
### Gruppe G:
Max Grundmann - s0559326
### Inhalte
1. Exploratory Data Analysis (EDA)
2. Datenvorbereitung
3. Modelauswahl
### 4. Auswertung
___
Dieses Notebook wertet die trainierten Classifier aus und wendet sie auf die Test-Daten an.
___

##### Imports

In [24]:
import pandas as pd
import pickle
import os

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

##### Testdaten laden

In [25]:
test_data

,Price_In_Eur,last_departure,next_departure,price_of_next_flight,route_FRA-STN,route_STN-FRA,route_STN-SXF,route_SXF-STN,is_last_request,previous_requests,...,flight_weekday_sin,flight_weekday_cos,flight_month_sin,flight_month_cos,flight_day_sin,flight_day_cos,Departure_hour_sin,Departure_hour_cos,days_remaining,Days_Untill_Event
0,30.32,0.0,12.0,0,0,0,1,0,0,0,...,0.781831,0.623490,-0.500000,-0.866025,0.034422,0.999407,0.965926,-0.258819,29,12
1,44.53,0.0,12.0,0,0,0,1,0,0,1,...,0.781831,0.623490,-0.500000,-0.866025,0.034422,0.999407,0.965926,-0.258819,29,12
2,44.47,0.0,12.0,0,0,0,1,0,0,2,...,0.781831,0.623490,-0.500000,-0.866025,0.034422,0.999407,0.965926,-0.258819,28,12
3,44.47,0.0,12.0,0,0,0,1,0,0,3,...,0.781831,0.623490,-0.500000,-0.866025,0.034422,0.999407,0.965926,-0.258819,28,12
4,44.52,0.0,12.0,0,0,0,1,0,0,4,...,0.781831,0.623490,-0.500000,-0.866025,0.034422,0.999407,0.965926,-0.258819,27,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,42.83,4.0,0.0,0,0,0,0,1,0,112,...,-0.433884,-0.900969,-0.866025,-0.500000,0.034422,0.999407,-0.500000,0.866025,3,0
5579,50.99,4.0,0.0,0,0,0,0,1,0,113,...,-0.433884,-0.900969,-0.866025,-0.500000,0.034422,0.999407,-0.500000,0.866025,2,0
5580,50.99,4.0,0.0,0,0,0,0,1,0,114,...,-0.433884,-0.900969,-0.866025,-0.500000,0.034422,0.999407,-0.500000,0.866025,2,0
5581,50.99,4.0,0.0,0,0,0,0,1,0,115,...,-0.433884,-0.900969,-0.866025,-0.500000,0.034422,0.999407,-0.500000,0.866025,1,0
5582,50.99,4.0,0.0,0,0,0,0,1,1,116,...,-0.433884,-0.900969,-0.866025,-0.500000,0.034422,0.999407,-0.500000,0.866025,1,0

In [26]:
n = 15

dirname = os.getcwd()
filename = os.path.join(dirname, f'../Data/prepped/test_set_n{n}.csv')

try:
    test_data = pd.read_csv(filename, index_col=0)
    X = test_data
except FileNotFoundError as e:
    print('Datei konnte nicht gefunden werden.')

X.columns = X.columns.map(str)


for i in range(n):
    X[str(i)] = np.where(X[str(i)].isnull(), X.Price_In_Eur, X[str(i)])

Classifier laden

In [27]:
rf_model = pickle.load(open('../Models/final_models/random_forest_v2.pkl', 'rb'))
# nn_model = pickle.load(open('../Models/final_models/nn_model_v1.pkl', 'rb'))

In [28]:
prediction = rf_model.predict(X)
prediction = pd.Series(prediction)
prediction.to_csv('../Predictions/rf_pred.cvs')
prediction

0       0
1       0
2       0
3       0
4       0
       ..
5578    1
5579    1
5580    1
5581    1
5582    1
Length: 5583, dtype: int64

In [ ]:
prediction = nn_model.predict(X)
prediction = pd.Series(prediction)
prediction.to_csv('../Predictions/nn_pred.cvs')
prediction